@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

@import "tailwindcss";


/* optional small helpers */
.canvas-wrapper {
  /* ensure high-quality rendering */
  image-rendering: auto;
}